In [22]:
# NUMERIC DataTYPE 
# int,float 
# type() - that returns the datatype of a given object
# int- unindexed and immutable
a=10
print(a)
print(type(a))

10
<class 'int'>

In [24]:
x= input("ENTER ANY NUMBER: ")
print(x)
print(type(x))
print()
print(type(int(x)))

ENTER ANY NUMBER:  10

10
<class 'str'>

<class 'int'>

In [25]:
# float 
a=10.0
print(a)
print(type(a))

10.0
<class 'float'>

In [27]:
a=6
b=2
c=a/b
print(c)
print(type(c))

3.0
<class 'float'>

In [28]:
# STRING - ordered ,sequence of characters 
# single line string is denoted by '' or " " and  multiline string denoted by ''' ''' .
# string is indexed and immutable
a='hello'
print(a)
print(type(a))   # str class 
print(a[0])   # indexed 
a[1]="z"     # immutable    ( 'str' object does not support item assignment )        
print(a)

hello
<class 'str'>
h

TypeError: 'str' object does not support item assignment

In [32]:
x= '''welcome 
to 
     city of lakes...
     ###########
     ###########
     "BHOPAL"
     ###########
     ###########
     '''
print(x)

welcome
to
     city of lakes...
     ###########
     ###########
     "BHOPAL"
     ###########
     ###########

In [33]:
# LIST - collection of elements 
# denoted by[] with comma separated values .
# ordered ,indexed ,mutubale and  heterogenous in nature ,

l=[]   # EMPTY LIST 
print(l)
print(type(l))

[]
<class 'list'>

In [35]:
l=[10,20,"decode",10.5,"bhopal"]
print(l)
print(type(l))

l[1]="DATA"
print(l)

print(l[2][0])
l[2]=[100,200,300]
print(l)
print(l[2][1])

[10, 20, 'decode', 10.5, 'bhopal']
<class 'list'>
[10, 'DATA', 'decode', 10.5, 'bhopal']
d
[10, 'DATA', [100, 200, 300], 10.5, 'bhopal']
200

In [17]:

# tuple - collection of elements 
# denoted by () with comma separated values
# tuples are ordered ,indexed , heterogeneous and immutable in nature
t=()       # EMPTY TUPLE
print(t)
print(type(t))

()
<class 'tuple'>

In [18]:
# Single valued tuple 
t=(10,)
print(t)
print(type(t))

(10,)
<class 'tuple'>

In [21]:
t=(10,20,"decode",10.5,"d")
print(t)
print(type(t))

print(t[2])
t[1]="hello"
print(t)        #'tuple' object does not support item assignment

(10, 20, 'decode', 10.5, 'd')
<class 'tuple'>
decode

TypeError: 'tuple' object does not support item assignment

In [2]:

#DICTIONARY 
# Collection of elements in a KEY:VALUE pair
#it is denoted by {k:v}
# ordered ,unindexed and mutable in nature 
# keys must be unique and values can be duplicate 

d={}   # empty dictionary
print(d)
print(type(d))

{}
<class 'dict'>

In [5]:
d={"name":"xyz","subject": "DA","fees":25000}
print(d)
print(type(d))

d["name"]="DECODE"
print(d)

{'name': 'xyz', 'subject': 'DA', 'fees': 25000}
<class 'dict'>
{'name': 'DECODE', 'subject': 'DA', 'fees': 25000}

In [6]:
d={"name":"xyz","subject": "DA","fees":25000}
print(d)
d["NAME"]="DECODE"
print(d)

{'name': 'xyz', 'subject': 'DA', 'fees': 25000}
{'name': 'xyz', 'subject': 'DA', 'fees': 25000, 'NAME': 'DECODE'}

In [8]:
d={}
d["NAME"]="DECODE"
print(d)

{'NAME': 'DECODE'}

In [11]:
d={"NAME":['abc','def','pqr'],"SUBJECT": ["DA","DS","AI"],"FEES":[24000,25000,34000]}
print(d)

print(d["NAME"][1])

d["NAME"][1]="XYZ"
print(d)

{'NAME': ['abc', 'def', 'pqr'], 'SUBJECT': ['DA', 'DS', 'AI'], 'FEES': [24000, 25000, 34000]}
def
{'NAME': ['abc', 'XYZ', 'pqr'], 'SUBJECT': ['DA', 'DS', 'AI'], 'FEES': [24000, 25000, 34000]}

In [12]:
# SET - COLLECTION OF ELEMENTS
 # denoted by {} with comma separated values 
# unordered ,unindexed ,heterogeneous and mutable .
 # STORE only UNIQUE VALUES  
s=set()     # EMPTY SET   ---set() con
print(s)
print(type(s))

set()
<class 'set'>

In [15]:
s={ 10,10.5,"HELLO",10,10,10.5,}
print(s)
print(type(s))

s.add(100)      # MUTABLE
print(s)

{10, 10.5, 'HELLO'}
<class 'set'>
{10, 10.5, 100, 'HELLO'}

In [16]:
s={ 10,10.5,"HELLO",10,10,10.5,}
print(s)
print(type(s))
print(s[0])

{10, 10.5, 'HELLO'}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [51]:
# FROZEN SET--- same as sets      but it is ( immutable) in nature

In [52]:
# Create a frozenset from a list
my_list = [1, 2, 3, 2, 4]
my_frozenset = frozenset(my_list)
print(my_frozenset)

# Create a frozenset from a tuple
my_tuple = ("apple", "banana", "cherry")
another_frozenset = frozenset(my_tuple)
print(another_frozenset)

TypeError: 'frozenset' object is not callable

In [50]:
fruits = frozenset(["apple", "banana", "orange"])
print(fruits) 
fruits.add("cherry")
print(fruits)

TypeError: 'frozenset' object is not callable