In [1]:
# LOOPING

In [2]:

for i in range(6):
    print(i)

0
1
2
3
4
5

In [3]:
for i in range(6):
    print(i,end=" ")

0 1 2 3 4 5

In [4]:
for i in range( 1,6):
    print(i ,end=" ")

1 2 3 4 5

In [5]:
for i in range( 10,2,-1):
    print(i)

10
9
8
7
6
5
4
3

In [6]:
for i in range(2,2):
    print(i)

In [12]:
for i in range(50,10,-3):
    print(i)

50
47
44
41
38
35
32
29
26
23
20
17
14
11

In [13]:
for i in range(3,10,-3):
    print(i)
# not step and stop must be high

In [15]:
n=int(input("ENTER ANY NUMBER:"))
for i in range(1,n,3):
    print(i)

ENTER ANY NUMBER: 10

1
4
7

In [16]:
n=int(input("ENTER ANY NUMBER:"))
for i in range(1,n+1,3):
    print(i)

ENTER ANY NUMBER: 10

1
4
7
10

In [17]:
n=int(input("ENTER ANY NUMBER:"))
for i in range(n-1,-2,-2):
    print(i,end=" ")

ENTER ANY NUMBER: 10

9 7 5 3 1 -1

In [25]:
# WAP to print first ten natural numbers ?
n=10
for i in range(1,n+1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [20]:
# WAP to print first n natural numbers ?
n=int(input("ENTER ANY NUMBER:"))
for i in range (1,n+1):
    print(i,end=" ")

ENTER ANY NUMBER: 20

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [36]:
# WAP to print first 10 even numbers?
n=20
for i in range (2,n+1,2):
    print(i,end=" ")

n=int(input("Enter any number:"))
for i in range(2,2*n+1,2):
    print(i,end=" ")

n=int(input("ENTER ANY NUMBER:"))
for i in range(2,2*n+1):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

Enter any number: 10

2 4 6 8 10 12 14 16 18 20

ENTER ANY NUMBER: 10

2 4 6 8 10 12 14 16 18 20

In [35]:
# WAP to print first 10 odd numbers?
n=20
for i in range(1,n+1,2):
    print(i,end=" ")

n=int(input("ENTER ANY NUMBER"))
for i in range(1,2*n,2):
    print(i,end=" ")

n=int(input("Enter any number:"))
for i in range(1,2*n):
    if i%2 !=0:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

ENTER ANY NUMBER 10

1 3 5 7 9 11 13 15 17 19

Enter any number: 10

1 3 5 7 9 11 13 15 17 19

In [1]:
#WAP to print the sum of first 10 natural numbers?

n=int(input("Enter the number"))
sum_natural=0
for i in range(1,n+1,1):
    sum_natural=sum_natural+i
print(sum_natural)

Enter the number 10

55

In [3]:
# WAP to print sum of first n even numbers ?
n=int(input("Enter number"))
sum_even=0
for i in range(2,n+1,2):
    sum_even=sum_even+i
print(sum_even)

Enter number 5

6

In [4]:
# WAP to print sum of first n odd numbers ?
n=int(input("Enter number"))
sum_odd=0
for i in range(1,n,2):
    sum_odd=sum_odd+i
print(sum_odd)

Enter number 5

4

In [8]:


n=int(input("Enter number"))

for i in range(2,n+1,2):
    sum_even=0
    sum_even=sum_even+i
print("sum of even numbers is :", sum_even)

for i in range(1,n,2):
    sum_odd=0
    sum_odd=sum_odd+i
print("sum of odd numbers is :", sum_odd)

Enter number 10

sum of even numbers is : 10
sum of odd numbers is : 9

In [10]:
# wap to print the sum of first n even and odd numbers?
n=int(input("ENTER NUMBERS"))
sum_even=0
sum_odd=0
for i in range(1,2*n+1,1):
    if i%2==0:
        sum_even=sum_even+i
    else:
        sum_odd=sum_odd+i
print("EVEN NUMBERS:",sum_even)
print("ODD NUMBERS:",sum_odd)

ENTER NUMBERS 10

EVEN NUMBERS: 110
ODD NUMBERS: 100

In [1]:
# WAP to print number of count of even and odd between the range start =1000 and end=2000

num1=1000
num2=2000
count_even=0
count_odd=0
for i in range(num1 ,num2+1,1):
    if i%2==0:
        count_even+=1
    else:
        count_odd+=1
print("count of even numbers between",num1 ,"and", num2,":",count_even)
print("count of odd numbers between",num1 ,"and", num2,":",count_odd)

count of even numbers between 1000 and 2000 : 501
count of odd numbers between 1000 and 2000 : 500

In [9]:
# wap to print factorial of n number?
n=int(input("enter any number:"))
fact=1
for i in range(1,n+1):
    fact*=i
print("factorial of",n,":",fact)

enter any number: 0

factorial of 0 : 1

In [8]:
# WAP that simulate a simple ATM .Ask the user for their account balance and  the amount they want to withdraw. 
# If the balance is sufficient ,update the final balance otherwise display an insufficient balance message 

acc_balance=float(input("ENTER ACCOUNT BALANCE:"))
withdrawal_money=float(input("ENTER MONEY TO WITHDRAW:"))
updated_amount=0
if acc_balance>=withdrawal_money:
    updated_amount=acc_balance-withdrawal_money
    print("ACCOUNT BALANCE REMAINING:",updated_amount)
else:
    print("INSUFFICIENT BALANCE IN ACCOUNT")

ENTER ACCOUNT BALANCE: 12000
ENTER MONEY TO WITHDRAW: 200000

INSUFFICIENT BALANCE IN ACCOUNT