In [12]:

def max_val(l):
    for i in range (len(l)):
        for j in 
        range(len(l)):
            if l[i]>l[j]:
                l[i],l[j]=l[j],l[i]
    return l[0]

In [14]:
l=[10,2,5,6]
max_val(l)

10

In [6]:
def max_value(l):
    return max(l)

In [8]:
print("max value is ",max_value([10,30,20,40,1]))

max value is  40

In [10]:
def max(l):
    max=0
    for i in l:
        if i>max:
            max=i
    return max

In [11]:
max([10,20,30,40])

40

# RECURSION is Technique where a function calls itself to solve small problems. It is often used for
# problems that can be broken dowm into smaller (similar subproblems like calculatiing factorial ,fibonacci and 
# travasal data like graph and tree)

# The Recursion function has two component 
# 1) Base case   (terminating case)
# 2) recursion case ( where fucntion calls itself)

In [20]:
# write a Recursion Function that returns sum of first n natural number
def sum(n):
    if n==1:
        return 1
    else:
        return n+sum(n-1)

In [21]:
sum(10)

55

In [27]:
# write a python function that return factorial of n number
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)

In [28]:
fact(5)

120

In [33]:
# Write a Python function To return The fibonacci series
# f(n)=f(n-1)+f(n-2)
def fibo(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)

In [41]:
n=int(input("Enter How Many Terms:"))
for i in range(1,n+1):
    print(fibo(i),end=" ")

Enter How Many Terms: 10

0 1 1 2 3 5 8 13 21 34

# lamda is a function which takes only single expression but n 
# lamda n parameter: expression

# x=lamda a,b :a+b

# x=lamda x,y,z: x if x>y else y if y>z else z

In [ ]:
# write a python function that returns mean median mode from a given parameter( take list as a parameter)

l=[10,20,30,40,23,45,22,30]
mean=0
mode=0
median=0
sum=0
a=len(l)
for i in l:
    sum=sum+l

In [8]:
def mean(list):
    sum=0
    a=len(list)
    for i in range (len(l)):
        sum=sum + l[i]
    return (sum/a)

In [9]:
mean([12,23,43,32])

36.0

In [10]:
def mode(l):
    count=0
    d={}
    for i in l:
        if i in d:
            d[i]+=1
        else:
            d[i]=1

In [11]:
mode([12,12,34,34,45,45,45,])

7

In [30]:
def median(l):
    l1=[]
    a=len(l)
    for i in range(len(l)):
        l1=sorted(l)
        if len(l) %2!=0:
            median=l1[a//2]
        else:
            median=(l1[a//2-1]+l1[a//2])
        return median

In [31]:
median([1,2,3,4,5,1,1,3])

5

In [19]:
def mean_median_mode(l):
    sum=0
    count=0
    for i in l:
        sum=sum+i
        count=count+1
    mean=sum/count
    sorted_list=sorted(l)
    n=len(l)
    if n%2!=0:
        median=sorted_list[n//2]
    else:
        median=(sorted_list[n//2-1] + sorted_list[n//2])/2

    d={}
    for i in l:
        if i in d:
            d[i]+=1
        else:
            d[i]=1

        max_value=max(d.values())
        for i ,j in d.items():
            if j==max_value:
                mode=i
        return mean, median , mode

In [24]:
mean_median_mode([1,2,3,4,5,4,1,2,1,2])

(2.5, 2.0, 1)

# LAMBDA FUNCTION
# lambda arguments:expression
# takes number of arguments but one expression

In [33]:
a=lambda x:x**2
print(a(10))

100

In [20]:
x=lambda a,b:a**b

In [21]:
print(x(10,2))

100

In [1]:
# Write a lambda function to get the largest among three numbers 
a=lambda x,y,z:x if x>y else y if y>z else z
print(a(10,20,15))

20

# High Order function
# map (function,iterables)
# fucntion like lambda and iterables like list ,tuples , set

In [3]:
l=[1,2,3,4,5]
#output: [1,8,27,64,125]

l1=[]
for i in l:
    l1.append(i**3)
print(l1)

print([i**3 for i in l])

print(list(map(lambda i:i**3,l)))

[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125]

In [8]:
l1=[5,1,2,3,4]
l2=[2,5,4,5,1,]
l=[]

for i, j in zip(l1,l2):
    l.append(i**j)
print(l)
print([i**j for i,j in zip(l1,l2)])

print(list(map(lambda i,j:i**j,l1,l2)))

[25, 1, 16, 243, 4]
[25, 1, 16, 243, 4]
[25, 1, 16, 243, 4]

In [16]:
# QUESTION:
# l=[[10,70,30][20,40,90,80],[100,110,60]]
#output: [30,80,100]

l=[[10,70,30],[20,40,90,80],[100,110,60]]
l1=[]
for i in range(len(l)):
    for j in range(len(l[i])):
        for k in range(j+1,len(l[i])):
            if l[i][j]>l[i][k]:
                l[i][j],l[i][k]=l[i][k],l[i][j]
    l1.append(l[i][-2])
print(l1)

[30, 80, 100]

In [7]:
x = [1, 2, 3, 4, 5]
# Output: [1, 4, 9, 16, 25]
result=([i**2 for i in x])
print(result)

[1, 4, 9, 16, 25]

In [11]:
l=[1,2,3,4]
l1=[1,2,3,4]
result=list(map(lambda x,y:x**y,l,l1))
print(result)

print([i**j for i,j in zip(l,l1)])

[1, 4, 27, 256]
[1, 4, 27, 256]

In [25]:
names = ["python", "java", "sql"]
# Output: ["PYTHON", "JAVA", "SQL"]
n=map(lambda i:i.upper(),names)
print(list(n))

print([i.upper() for i in names])

['PYTHON', 'JAVA', 'SQL']
['PYTHON', 'JAVA', 'SQL']

In [29]:
nums = [10, 20, 30]
# Output: [15, 25, 35]
print(list(map(lambda i:i+5, nums)))

[15, 25, 35]

In [30]:
words = ["apple", "banana", "kiwi"]
# Output: [5, 6, 4]
print(list(map(lambda i:len(i),words)))

[5, 6, 4]

In [32]:
a = [1, 2, 3]
b = [10, 20, 30]
# Output: [11, 22, 33]
print(list(map(lambda i,j:i+j,a,b)))

[11, 22, 33]

In [33]:
nums = [1, 2, 3, 4]
# Output: [False, True, False, True]
print(list(map(lambda i:i%2==0,nums)))

[False, True, False, True]

In [35]:
l = [[10, 70, 30], [20, 40, 90, 80], [100, 110, 60]]
# Output: [70, 90, 110]
print(list(map(lambda i:max(i),l)))

[70, 90, 110]

In [38]:
l=[1,2,3,4,5,6,7,8]
print(list(map(lambda i:i%2!=0,l)))

[True, False, True, False, True, False, True, False]

In [42]:
l=[10,65,26,23,67,78,130,12,17,39]
#output:- [65,26,78,130,39]

print(list(filter(lambda i:i%13==0,l)))

[65, 26, 78, 130, 39]

In [51]:
l=["madam","decode","bhopal","naman","country","nitin"]
# output: [madam,naman, nitin]
l1=[]
for i in l:
    for j in range (len(i)):
        if i[j]==j[i]:
            l1.append(i)
print(l1)

print(list(filter(lambda i:i[-1]==i[0],l)))

TypeError: 'int' object is not subscriptable

In [61]:
l=["madam","decode","bhopal","naman","country","nitin"]
# output: [madam,naman, nitin]
l1=[]
for i in l:
    rev=""
    rev=i+rev
    if rev==i:
        l1.append(i)

print(l1)

['madam', 'decode', 'bhopal', 'naman', 'country', 'nitin']

In [68]:
l=["madam","decode","bhopal","naman","country","nitin"]
# output: [madam,naman, nitin]
l1=[]
for i in l:
    rev=""
    for j in i:
        rev=j+rev
        l1.append(i)
print(l1)

print([i for i in l if i==i[::-1]])
print(list(filter(lambda i:i==i[::-1],l)))

['madam', 'naman', 'nitin']
['madam', 'naman', 'nitin']
['madam', 'naman', 'nitin']